<div class="border-1 px-4 py-2 rounded-lg border-black/10 dark:border-white/10 dark:bg-gray-300/5 bg-gray-300/5">
  <form [formGroup]="formGroup">
    <h4 class="text-lg mb-4 flex items-center justify-between">
      {{ fontFamily?.name }}
      <div>
        <app-visibility-button [visible]="visible()" [disabled]="limpio()" (toggle)="toggleVisible()" />
        <app-reset-button [disabled]="limpio()" (reset)="reset()" />
      </div>
    </h4>

    @for(property of propiedades; track property.name) { @switch (property.type) { @case ("single") {
    <app-slider-field
      [formGroup]="formGroup"
      [fieldName]="property.parte.fieldName"
      [class.hidden]="!visible() && property.parte.defaultValue === formGroup.controls[property.parte.fieldName].value"
      [min]="property.parte.min"
      [max]="property.parte.max"
      [step]="property.parte.step"
      [stops]="property.parte.stops"
      [showLabel]="true"
      [labelLength]="labelLength"
      [label]="property.parte.caption"
      [showValue]="true"
      [unit]="property.parte.unit"
      [defaultValue]="property.parte.defaultValue"
      [valueLength]="valueLength" />
    } @case ("multi") { @if(variations; as variaciones){
    <div class="pt-2">
      <app-font-variation-control
        [fieldName]="property.name"
        [variations]="variaciones"
        [labelLength]="labelLength"
        [valueLength]="valueLength" />
    </div>
    } } @case ("boolean") {
    <div
      class="flex items-center gap-2 my-2"
      [class.hidden]="!visible() && property.parte.defaultValue === formGroup.controls[property.parte.fieldName].value">
      <app-toggle-check
        [defaultValue]="property.parte.defaultValue"
        [fieldName]="property.parte.fieldName"
        [label]="property.parte.caption" />
    </div>
    } }}
  </form>
</div>
