<div class="border-1 my-2 px-4 py-2 rounded-lg border-black/10 dark:border-white/10 dark:bg-gray-300/5 bg-gray-300/5">
  @if(variations; as variantes) {
  <form [formGroup]="formGroup">
    <h4 class="text-lg mb-4 flex items-center justify-between">
      {{ variantes.propiedad.caption }}
      <div>
        <app-visibility-button [visible]="visible()" [disabled]="sinCambios" (toggle)="toggleVisible()" />
        <app-reset-button [disabled]="sinCambios" (reset)="reset()" />
      </div>
    </h4>

    @for(parte of variantes.parts; track parte.variation.identifier) { @if(parte.type==="continuo"){
    <app-slider-field
      [fieldName]="parte.variation.identifier"
      [min]="parte.range.min"
      [class.hidden]="!visible() && parte.range.defaultValue === formGroup.controls[parte.variation.identifier].value"
      (dblclick)="formGroup.controls[parte.variation.identifier].reset()"
      [max]="parte.range.max"
      [step]="parte.range.step"
      [stops]="parte.range.stops"
      [showLabel]="true"
      [labelLength]="labelLength"
      [label]="parte.variation.caption"
      [showValue]="true"
      [unit]=""
      [defaultValue]="parte.range.defaultValue"
      [valueLength]="valueLength" />
    } @else {
    <div
      class="flex items-center gap-2 my-1"
      [class.hidden]="!visible() && parte.range.defaultValue === formGroup.controls[parte.variation.identifier].value">
      <app-toggle-check
        [defaultValue]="parte.range.defaultValue"
        [fieldName]="parte.variation.identifier"
        [label]="parte.variation.caption" />
    </div>
    } }
  </form>
  }
</div>
