@if(coordenadasGroup){
<form [formGroup]="coordenadasGroup" class="w-full flex flex-col justify-between grow-1">
  <div class="text-smaller">
    <zz-slider-field
      fieldName="x1"
      [min]="0"
      [max]="100"
      [label]="'x1'"
      [defaultValue]="50"
      [stops]="[0, 25, 50, 75, 100]"
      [showLabel]="true"
      [showValue]="true"
      [step]="1"
      [showValue]="true"></zz-slider-field>
    <zz-slider-field
      fieldName="y1"
      [min]="0"
      [max]="100"
      [label]="'y1'"
      [defaultValue]="50"
      [stops]="[0, 25, 50, 75, 100]"
      [showLabel]="true"
      [showValue]="true"
      [step]="1"
      [showValue]="true"></zz-slider-field>
  </div>
  <div class="w-64 text-smaller">
    <zz-slider-field
      fieldName="x2"
      [min]="0"
      [max]="100"
      [label]="'x2'"
      [defaultValue]="50"
      [stops]="[0, 25, 50, 75, 100]"
      [showLabel]="true"
      [showValue]="true"
      [step]="1"
      [showValue]="true"></zz-slider-field>
    <zz-slider-field
      fieldName="y2"
      [min]="0"
      [max]="100"
      [label]="'y2'"
      [defaultValue]="50"
      [stops]="[0, 25, 50, 75, 100]"
      [showLabel]="true"
      [showValue]="true"
      [step]="1"
      [showValue]="true"></zz-slider-field>
  </div>
</form>

}
