<form [formGroup]="orientationGroup">
  <div class="select-none flex flex-row gap-2">
    @for(orientation of orientationsValues; track orientation.value){
    <label
      class="transition-all cursor-pointer hover:opacity-80 has-checked:cursor-default opacity-50 h-10 w-10 border-3 border-current/30 rounded-full items-center justify-center has-checked:font-bold has-checked:opacity-100 text-4xl flex"
      [class.opacity-100]="orientation.value === orientationGroup.value.orientation"
      [for]="'radio' + $index">
      <input
        type="radio"
        formControlName="orientation"
        class="hidden"
        [value]="orientation.value"
        [id]="'radio' + $index" />
      <span class="font-icons" [class]="orientation.class">arrow_upward_alt</span></label
    >
    }
  </div>
</form>
