<div class="bg-application w-screen h-screen overflow-x-hidden">
  <div class="sticky bg-application z-20 top-0 left-0 right-0 shadow-md dark:shadow-black/60">
    <zz-gradients-header></zz-gradients-header>
  </div>
  <main
    class="w-screen min-h-[calc(100svh_-_50px)] flex flex-col items-center justify-center gap-4"
    [style.color]="gradient().contrast"
    [style.background]="gradient().gradient">
    <div class="flex flex-col items-center justify-center gap-4 w-[130px]">
      <zz-bezier-panel
        [size]="size"
        [color]="gradient().contrast"
        [coords]="changingCoords()"
        (coordsChanged)="onCoordsChanged($event)"
        (coordsChanging)="onCoordsChanging($event)"></zz-bezier-panel>
      <zz-gradient-colors
        class=""
        (sourceColorChanged)="onColorSourceChanged($event)"
        (destinationColorChanged)="onColorDestinationChanged($event)"></zz-gradient-colors>
      <zz-orientation-selector (orientationChanged)="onOrientationChanged($event)"></zz-orientation-selector>
    </div>
  </main>
</div>

<zz-notification></zz-notification>
