<div class="flex justify-center gap-2 w-full">
  <button
    (click)="saveSVG()"
    title="Download gradient as SVG (Ctrl+Shift+G)"
    class="font-button shadow-md w-10 border-[1px]">
    SVG
  </button>
  <button
    (click)="saveAsImage()"
    title="Save png gradient (Ctrl+Shift+C)"
    class="font-button shadow-md w-10 border-[1px]">
    PNG
  </button>
  <button (click)="copy()" title="Copy gradient (Ctrl+Shift+C)" class="font-button shadow-md w-10 border-[1px]">
    COPY
  </button>
</div>
