<form [formGroup]="configGroup" class="h-fit w-full text-sm">
  <div zz-panel class="p-4 h-fit w-full">
    <div class="opacity-80 space-y-2">
      <div class="flex flex-row flex-wrap items-center justify-between">
        <div class="flex flex-row items-center justify-between w-28">
          <label for="alto">Height </label>
          <input
            type="number"
            id="alto"
            zz-input
            [zzDisabled]="configGroup.controls.alto.disabled"
            formControlName="alto"
            value="10"
            [min]="1"
            [max]="180" />
        </div>
        <div>
          <zz-toggle-check formControlName="continuo" label="Continuo" [before]="true" />
        </div>
      </div>
      <div class="flex flex-row flex-wrap items-center justify-between">
        <div class="flex flex-row items-center justify-between w-28">
          <label for="pasos"> Steps </label>
          <input
            type="number"
            id="pasos"
            zz-input
            [zzDisabled]="configGroup.controls.pasos.disabled"
            formControlName="pasos"
            value="10"
            [min]="2"
            [max]="100" />
        </div>
        <div>
          <zz-toggle-check formControlName="automatico" label="Auto" [before]="true" />
        </div>
      </div>
      <div class="-ml-1.5">
        <div>
          <zz-toggle-check formControlName="showRGB" label="Show RGB" />
        </div>
      </div>
    </div>
  </div>
</form>
