<form [formGroup]="config" class="h-fit w-full text-sm">
  <div zz-panel class="p-4 h-fit w-full">
    <div class="opacity-80 space-y-6">
      <div class="flex flex-row flex-wrap items-center justify-between gap-4">
        <div class="flex flex-row items-center gap-2">
          <label>Height </label>
          <input type="number" zz-input formControlName="alto" value="10" />
        </div>
        <div class="flex flex-row items-center gap-4">
          <label> Steps </label>
          <input type="number" zz-input formControlName="pasos" value="10" />
        </div>
      </div>
      <div class="-ml-1">
        <zz-toggle-check formControlName="continuo" label="Continuo" />
      </div>
    </div>
  </div>
</form>
