@if(configGroup){
<form [formGroup]="configGroup">
  <div class="flex flex-row items-center gap-2" style="line-height: 0.9rem">
    <div class="flex flex-row items-center">
      <label for="steps" class="select-none">Steps:</label>
      <input
        type="number"
        id="steps"
        zz-input
        [zzDisabled]="configGroup.controls.steps.disabled"
        formControlName="steps"
        value="10"
        [min]="2"
        [max]="100" />
    </div>
    <label class="flex flex-row items-center gap-2 select-none cursor-pointer">
      <input type="checkbox" zz-simple-check formControlName="automatic" />
      <span>Auto</span>
    </label>
  </div>
</form>
}
