<form [formGroup]="formDual">
  <zz-slider-field
    class="text-sm"
    [fieldName]="'min'"
    [min]="variableComponent().min"
    [max]="variableComponent().max"
    [step]="componentStep(variableComponent().precision)"
    [label]="variableComponent().name"
    [defaultValue]="variableComponent().min"
    [showLabel]="true"
    [labelLength]="10"
    [unit]="variableComponent().unit"
    [showValue]="true"
    [valueLength]="9" />
  <zz-color-axis
    class="mb-2 mt-1 block"
    [height]="height()"
    [pasos]="pasos()"
    [shadow]="!continuo()"
    [rounded]="continuo() ? 'none' : 'normal'"
    [variable]="variable()"
    [modelName]="this.model().name"
    [min]="min()"
    [max]="max()"
    [fixedValues]="fixedValues()"></zz-color-axis>
  <zz-slider-field
    class="text-sm"
    [fieldName]="'max'"
    [min]="variableComponent().min"
    [max]="variableComponent().max"
    [step]="componentStep(variableComponent().precision)"
    [label]="variableComponent().name"
    [defaultValue]="variableComponent().max"
    [showLabel]="false"
    [labelLength]="10"
    [unit]="variableComponent().unit"
    [showValue]="false"
    [valueLength]="9" />
</form>
