<form [formGroup]="formDual" class="relative">
  @if(colorModel()){
  <div class="absolute left-1/2 top-1">
    <span zz-icon class="h-6">arrow_range</span>
  </div>
  <zz-slider-field
    class="text-sm relative font-bold"
    [showTrack]="false"
    fieldName="max"
    [min]="variable().min"
    [max]="variable().max"
    [step]="componentStep(variable().precision)"
    [label]="variable().name"
    [defaultValue]="variable().max"
    [showLabel]="true"
    [labelLength]="10"
    [unit]="variable().unit"
    [showValue]="true"
    [valueLength]="9" />
  <zz-color-axis
    class="-mt-2.5 block"
    [height]="height()"
    [pasos]="pasos()"
    [shadow]="!continuo()"
    [rounded]="continuo() ? 'none' : 'normal'"
    [variable]="variableIndex()"
    [variableComponent]="variable()"
    [model]="this.colorModel()"
    [min]="min()"
    [max]="max()"
    [color-base]="currentColor()"></zz-color-axis>
  <zz-slider-field
    class="text-sm relative -mt-2.5 block"
    fieldName="min"
    [showTrack]="false"
    [labels-above]="false"
    [labels-reverse]="true"
    [min]="variable().min"
    [max]="variable().max"
    [step]="componentStep(variable().precision)"
    [label]="variable().name"
    [defaultValue]="variable().min"
    [showLabel]="false"
    [labelLength]="10"
    [unit]="variable().unit"
    [showValue]="true"
    [valueLength]="9" />
  }
</form>
