<div class="bg-application w-screen h-screen overflow-x-hidden text-center">
  <div class="sticky bg-application z-20 top-0 left-0 right-0 shadow-md dark:shadow-black/60">
    <div class="h-10 bg-red-200">Header</div>
  </div>
  <main class="flex flex-row items-top justify-center gap-8 px-6 pt-2 m-auto max-w-[1600px] w-screen">
    <div class="py-4">
      <div class="pb-4 block lg:hidden">
        <div class="block w-42 h-[150px] bg-green-200">sample</div>
      </div>
      <div class="w-full h-60 min-w-40 bg-amber-200">menu</div>
    </div>
    <div class="@container min-w-36 w-full pt-3 relative flex flex-col">
      <div class="h-96 w-full bg-sky-300">sliders</div>
      <div class="flex items-center @min-[760px]:justify-between @max-[760px]:flex-col-reverse mt-6 mb-2">
        <div class="flex items-center justify-between w-full gap-2">
          <div class="w-56 h-10 bg-pink-300">steps</div>
          <div class="w-56 h-10 bg-pink-300">visual</div>
          <div class="w-56 h-10 bg-pink-300">values</div>
        </div>
        <div class="ml-6 w-56 h-10 bg-yellow-300">actions</div>
      </div>
      <div class="block pb-4 h-[80px] bg-gris-200">palette</div>
    </div>
    <div class="py-4 hidden lg:block">
      <div class="block h-[200px] bg-green-200 w-60">sample</div>
    </div>
  </main>
</div>
