<header
  [class.h-[50px]]="!hasProjectedContent()"
  class="sm:h-[50px] max-w-[1600px] grid grid-rows-1 grid-cols-[min-content_auto_min-content] justify-between items-center gap-4 px-6 p-1 m-auto">
  <h1 class="col-1 text-2xl opacity-90">
    <a
      routerLink="/palettes"
      routerLinkActive="pointer-events-none cursor-default active"
      class="text-inherit no-underline">
      <zz-marca [class.hidden]="hasProjectedContent()" class="sm:inline-block" [format]="'horizontal'"></zz-marca>
      <zz-marca [class.hidden]="!hasProjectedContent()" class="sm:hidden" [format]="'half'"></zz-marca>
    </a>
  </h1>
  <div class="relative z-50 flex justify-center" [class.hidden]="!hasProjectedContent()" #contentWrapper>
    <ng-content> </ng-content>
  </div>
  <zz-menu class="col-3 flex items-center"></zz-menu>
</header>
