<div zz-panel [shadow]="false" class="h-fit" style="background-color: none !important; border-width: 0px !important">
  @if(state.colorConfig(); as config){
  <form [formGroup]="configGroup!" class="min-w-fit h-fit">
    @for(indice of indices; track $index){ @let component = config.model.components[indice];
    <div [style.minHeight.px]="70 + axisConfig.alto">
      @if(indice===config.variableIndex){
      <zz-dual-axis-slider
        class="block"
        [color-config]="config"
        [value]="state.colorBase()[indice]"
        [currentColor]="state.currentColor()"
        [axis-config]="axisConfig"
        (minmaxChange)="onVariableChange($event)">
      </zz-dual-axis-slider>
      }@else {
      <zz-slider-field
        class="relative z-2"
        [showTrack]="false"
        [fieldName]="'v' + indice"
        [min]="component.min"
        [max]="component.max"
        [step]="componentStep(component.precision)"
        [label]="component.name"
        [defaultValue]="component.defaultValue"
        [showLabel]="true"
        [labelLength]="10"
        [unit]="component.unit"
        [showValue]="true"
        [valueLength]="9" />
      <zz-color-axis
        class="-mt-2.5 block rounded-md overflow-hidden"
        [axis-config]="axisConfig"
        [color-config]="{ model: config.model, variable: component, variableIndex: indice }"
        [min]="component.min"
        [max]="component.max"
        [color-base]="state.currentColor()"></zz-color-axis>
      }
    </div>
    }
  </form>
  }
</div>
