<div zz-panel class="p-6 h-fit">
  <form [formGroup]="configGroup" class="min-w-fit h-fit space-y-8">
    @for(indice of indices; track $index){ @let component = colorModel().components[indice];
    <div [zz-collapse-vertical]="false">
      @if(indice===variableIndex()){
      <zz-dual-axis-slider
        [model]="colorModel()"
        [variableIndex]="indice"
        [variable]="variable()"
        [min]="variable().min"
        [max]="variable().max"
        [color-base]="currentColor()"
        [height]="height()"
        [pasos]="pasos()"
        [continuo]="continuo()"
        (minmaxChange)="onVariableChange($event)">
      </zz-dual-axis-slider>
      }@else {
      <zz-slider-field
        class="text-sm relative"
        [showTrack]="false"
        [fieldName]="'v' + indice"
        [min]="component.min"
        [max]="component.max"
        [step]="componentStep(component.precision)"
        [label]="component.name"
        [defaultValue]="component.defaultValue"
        [showLabel]="true"
        [labelLength]="10"
        [unit]="component.unit"
        [showValue]="true"
        [valueLength]="9" />
      <zz-color-axis
        class="mb-2 -mt-2.5 block"
        [height]="height()"
        [pasos]="pasos()"
        [shadow]="!continuo()"
        [rounded]="continuo() ? 'none' : 'normal'"
        [variable]="indice"
        [model]="colorModel()"
        [min]="component.min"
        [max]="component.max"
        [color-base]="currentColor()"></zz-color-axis>
      }
    </div>
    }
  </form>
</div>
