<div class="flex flex-row justify-between rounded-sm overflow-hidden">
  @for(indice of indices(); track $index){
  <div
    class="grow flex flex-row items-center text-xs justify-center overflow-hidden"
    [shadow]="!axisConfig().continuo"
    [roundedSize]="axisConfig().continuo ? 'none' : 'large'"
    [height]="axisConfig().alto"
    color-swatch-full
    [model]="colorConfig().model"
    [values]="indice.valores">
    @if(axisConfig().showRGB){
    <pre [style.color]="indice.color | toContrast">
      {{ indice.color | toRgb }}
    </pre>
    }
  </div>
  }
</div>
