<div class="flex flex-row justify-between overflow-hidden">
  @for(indice of indices(); track indice){ @let variable = indice * componenteVariable().max;
  <div
    class="shadow-gray-500/70 dark:shadow-black/30 grow flex items-center text-sm justify-center overflow-hidden"
    [shadow]="shadow()"
    [roundedSize]="rounded()"
    [height]="height()"
    color-swatch
    [model]="modelName()"
    [componentA]="
      variacion() === 'A'
        ? componenteAmin() + indice * (componenteAmax() - componenteAmin())
        : (componenteAmin() + componenteAmax()) / 2
    "
    [componentB]="variacion() === 'B' ? variable : componenteB()"
    [componentC]="variacion() === 'C' ? variable : componenteC()"></div>
  }
</div>
