<div class="w-96 space-y-4 px-4 box-border">
  <div class="w-full">
    <app-select [items]="families" displayKey="name" [(ngModel)]="family"></app-select>
  </div>
  <div>
    <app-font-singles-form
      [title]="family().name"
      [labelLength]="18"
      [valueLength]="6"
      [propertyConfigs]="singleValueConfigs()"
      (styleChanged)="estilosSingle.set($event)" />
  </div>
  @for(config of multiValueConfigs(); track config.name) {
  <div>
    <app-font-variation-form
      [labelLength]="18"
      [valueLength]="6"
      [multiValueConfig]="config"
      (styleChanged)="estiloMultiChange(config.name, $event)" />
  </div>
  }
</div>
