<div class="flex w-full flex-row items-base justify-between gap-[1ch]">
  @if(showLabel) {
  <app-field-label
    [for]="fieldName"
    [text]="label"
    [length]="labelLength"
    class="select-none"
    (dblclick)="control.reset()"></app-field-label>
  }

  <app-slider [fieldName]="fieldName" [min]="min" [max]="max" [step]="step" [stops]="stops"></app-slider>

  @if(showValue) {
  <app-field-value [value]="control.value" [length]="valueLength" [decimals]="decimales" [unit]="unit">
  </app-field-value>
  }
</div>
