@if( colorModelName() !== 'hex' ){
<div
  class="flex justify-center font-noto cursor-copy group hover:opacity-100 opacity-85 underline-offset-2"
  (click)="copy()"
  [class.flex-col]="vertical()"
  [class.gap-2]="!vertical()"
  [class.leading-4]="vertical()">
  @for (part of parts(); track $index) {
  <div class="group-hover:underline decoration-current/70">{{ part.label }}: {{ part.value }}</div>
  }
</div>
} @else{
<div
  class="flex px-1 justify-center font-noto cursor-copy hover:opacity-100 opacity-85 underline-offset-2 hover:underline decoration-current/70"
  (click)="copy()">
  {{ full() }}
</div>
}
