<div class="flex px-1 justify-center" [class.flex-col]="vertical()" [class.gap-2]="!vertical()">
  @if(values(); as values){ @let components = colorModel().components;
  <span
    >{{ components[0].label }}:
    <span class="inline-block text-right">{{ values[0] | number : "0.0-" + components[0].precision }}</span></span
  >
  <span>
    {{ components[1].label }}:
    <span class="inline-block text-right">{{ values[1] | number : "0.0-" + components[1].precision }}</span></span
  >
  <span>
    {{ components[2].label }}:
    <span class="inline-block text-right">{{ values[2] | number : "0.0-" + components[2].precision }}</span></span
  >
  }
</div>
