<div class="flex flex-row gap-2 justify-between items-start h-svh overflow-y-hidden">
  <div class="space-y-2 p-2 min-w-[380px]">
    <div>
      <select
        [(ngModel)]="family"
        class="appearance-default w-full border-1 border-black/20 dark:border-white/20 rounded p-1 dark:bg-gray-900 dark:text-gray-100 bg-gray-100 text-gray-900 outline-none">
        @for(item of families; track item.name) {
        <option [ngValue]="item">{{ item.name }}</option>
        }
      </select>
    </div>
    <div>
      <app-font-control
        [fontFamily]="family()"
        [labelLength]="8"
        [valueLength]="6"
        (styleChanged)="estilo.set($event)"></app-font-control>
    </div>
  </div>

  <div [style]="estilo()" class="p-4 w-[60ch] mx-auto transition-all duration-75 h-svh">
    <p>
      No one shall be subjected to arbitrary arrest, detention or exile. Everyone is entitled in full equality to a fair
      and public hearing by an independent and impartial tribunal, in the determination of his rights and obligations
      and of any criminal charge against him. No one shall be subjected to arbitrary interference with his privacy,
      family, home or correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the
      protection of the law against such interference or attacks.
    </p>
    <p class="mt-4">
      1232454.5453 5446.45645 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita recusandae, assumenda
      omnis id, repellat fUGA CUM EUM ODIO ASPERIORES HIC TEMPORIBUs corrupti suscipit ducimus totam blanditiis? Nulla
      eaque debitis iusto?
    </p>
    <p class="mt-4">
      Voluptates quaerat dicta dolorem natus delectus blanditiis illo possimus neque doloremque, quam rem, numquam, ad
      nemo ipsam in. Quaerat consectetur quia quas id atque facilis nihil ea labore voluptatum. Recusandae?
    </p>
    <p class="mt-4">
      Sit provident, repellat quos perferendis itaque illo iusto consequuntur omnis harum unde veniam reprehenderit ex,
      sapiente sunt dolor cum odit non molestias nesciunt odio quas animi! Modi magni facilis reiciendis!
    </p>
    <p class="mt-4">
      Quisquam et incidunt, fugit quaerat dolorum, ipsa inventore iste ab minus neque earum libero iusto vitae hic
      eligendi error non perferendis ratione laboriosam esse dolores! Nemo molestias nostrum sed harum.
    </p>
  </div>
</div>
