:host {
  display: block;
  padding: 2rem;
  overflow-y: scroll;
  height: 100svh;
}

.flexible-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 80%;
  margin-inline: auto;
  padding: 0.25rem;
  outline: 2px solid light-dark(hsla(204, 43%, 41%, 0.5), hsla(207, 39%, 38%, 0.5));
  background-color: light-dark(hsla(204, 0%, 85%, 0.75), hsla(207, 0%, 5%, 0.75));
  border-radius: 0.5rem;
}

.flexible-grid > * {
  display: block;
  flex: 1;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  background-color: light-dark(hsla(204, 43%, 41%, 0.5), hsla(207, 39%, 38%, 0.5));
  border-radius: 0.5rem;
  text-align: center;
}
