@if(configGroup){
<form [formGroup]="configGroup" class="h-fit w-full text-smaller" style="line-height: 0.9rem">
  <div class="flex items-center justify-between flex-wrap">
    <div class="flex flex-row items-center gap-2">
      <div class="flex flex-row items-center">
        <label for="pasos" class="select-none">Steps:</label>
        <input
          type="number"
          id="pasos"
          zz-input
          [zzDisabled]="configGroup.controls.pasos.disabled"
          formControlName="pasos"
          value="10"
          [min]="2"
          [max]="100" />
      </div>
      <label class="flex flex-row items-center gap-2 select-none cursor-pointer">
        <input type="checkbox" zz-simple-check formControlName="automatico" />
        <span>Auto</span>
      </label>
      <div class="flex flex-row items-center ml-3">
        <label for="alto" class="select-none">Height:</label>
        <input
          type="number"
          id="alto"
          zz-input
          [zzDisabled]="configGroup.controls.alto.disabled"
          formControlName="alto"
          value="10"
          [min]="1"
          [max]="180" />
      </div>
    </div>
    <div class="flex flex-row items-center gap-4">
      <label class="flex flex-row items-center gap-2 select-none cursor-pointer">
        <input type="checkbox" zz-simple-check formControlName="continuo" />
        <span>Flat</span>
      </label>
      <label class="flex flex-row items-center gap-2 select-none cursor-pointer">
        <input type="checkbox" zz-simple-check formControlName="separate" />
        <span>Separate</span>
      </label>
    </div>
    <div class="flex flex-row items-center">
      <label [for]="showValues.selectId" class="select-none">Values:</label>
      <zz-select #showValues [items]="showValuesOptions" class="w-16" displayKey="text" formControlName="showValues">
      </zz-select>
    </div>
  </div>
</form>
}
