<nav>
  <menu>
    @for(model of models; track model.name){ @let modelSeleccionado= state.colorConfig().colorModel.name === model.name;
    <li [class.selected]="modelSeleccionado">
      <div>
        <button (click)="state.colorModelChanged(model)" [disabled]="modelSeleccionado" class="py-2 uppercase">
          {{ model.name }}
        </button>
      </div>
      <ul>
        @for(variable of model.components; track variable.name.caption){ @let variableSeleccionada=
        state.colorConfig().variable.name.caption === variable.name.caption;
        <li>
          <div [class.selected]="variableSeleccionada">
            <button
              [disabled]="!modelSeleccionado || variableSeleccionada"
              (click)="state.variableChanged(variable)"
              class="py-1">
              {{ variable.name.caption }}
            </button>
          </div>
        </li>
        }
      </ul>
    </li>
    }
  </menu>
</nav>
