<div class="font-museo-moderno text-center leading-marca text-white">
  <span class="flex gap-marca" [class.flex-col]="format() !== 'horizontal'">
    <span class="flex gap-marca" [class.flex-col]="format() !== 'horizontal' && format() !== 'half'">
      <span class="flex gap-marca" [class.flex-col]="format() === 'vertical'">
        <span class="bg-marca-1 w-marca rounded">C</span>
        <span class="bg-marca-2 w-marca rounded">o</span>
      </span>
      <span class="flex gap-marca" [class.flex-col]="format() === 'vertical'">
        <span class="bg-marca-3 w-marca rounded">L</span>
        <span class="bg-marca-4 w-marca rounded">o</span>
      </span>
    </span>
    <span class="flex gap-marca" [class.flex-col]="format() !== 'horizontal' && format() !== 'half'">
      <span class="flex gap-marca" [class.flex-col]="format() === 'vertical'">
        <span class="bg-marca-5 w-marca rounded">R</span>
        <span class="bg-marca-6 w-marca rounded">i</span>
      </span>
      <span class="flex gap-marca" [class.flex-col]="format() === 'vertical'">
        <span class="bg-marca-7 w-marca rounded">n</span>
        <span class="bg-marca-8 w-marca rounded">a</span>
      </span>
    </span>
  </span>
</div>
