<div class="m-0 font-museo-moderno leading-[1.2em] text-white space-x-[.15em]">
  <span class="bg-marca-1 inline-block text-center w-[1.2em] rounded">C</span>
  <span class="bg-marca-2 inline-block text-center w-[1.2em] rounded">o</span>
  <span class="bg-marca-3 inline-block text-center w-[1.2em] rounded">L</span>
  <span class="bg-marca-4 inline-block text-center w-[1.2em] rounded">o</span>
  <span class="bg-marca-5 inline-block text-center w-[1.2em] rounded">R</span>
  <span class="bg-marca-6 inline-block text-center w-[1.2em] rounded">i</span>
  <span class="bg-marca-7 inline-block text-center w-[1.2em] rounded">n</span>
  <span class="bg-marca-8 inline-block text-center w-[1.2em] rounded">a</span>
</div>
