<form method="dialog" [formGroup]="rgbColor" class="px-4 py-4 flex flex-row gap-4 items-center justify-center text-sm">
  <div class="space-x-1">
    <label for="Rchannel">R: </label>
    <input
      [min]="0"
      [max]="255"
      zz-input
      [zzDisabled]="rgbColor.controls.R.disabled"
      type="number"
      id="Rchannel"
      formControlName="R" />
  </div>
  <div class="space-x-1">
    <label for="Gchannel">G: </label>
    <input
      [min]="0"
      [max]="255"
      zz-input
      [zzDisabled]="rgbColor.controls.G.disabled"
      type="number"
      id="Gchannel"
      formControlName="G" />
  </div>
  <div class="space-x-1">
    <label for="Bchannel">B: </label>
    <input
      [min]="0"
      [max]="255"
      zz-input
      [zzDisabled]="rgbColor.controls.B.disabled"
      type="number"
      id="Bchannel"
      formControlName="B" />
  </div>
</form>
