<form method="dialog" [formGroup]="rgbColor" (ngSubmit)="aceptar()" class="p-4 space-y-2">
  <div class="flex flex-row gap-4 items-center justify-center text-sm">
    <div class="space-x-1">
      <label for="Rchannel">R: </label>
      <input
        [min]="0"
        [max]="255"
        zz-input
        [zzDisabled]="rgbColor.controls.r.disabled"
        type="number"
        id="Rchannel"
        formControlName="r" />
    </div>
    <div class="space-x-1">
      <label for="Gchannel">G: </label>
      <input
        [min]="0"
        [max]="255"
        zz-input
        [zzDisabled]="rgbColor.controls.g.disabled"
        type="number"
        id="Gchannel"
        formControlName="g" />
    </div>
    <div class="space-x-1">
      <label for="Bchannel">B: </label>
      <input
        [min]="0"
        [max]="255"
        zz-input
        [zzDisabled]="rgbColor.controls.b.disabled"
        type="number"
        id="Bchannel"
        formControlName="b" />
    </div>
  </div>
  <div class="flex flex-row items-center justify-between text-sm">
    <div class="flex flex-row gap-2 items-center">
      <div [width]="40" color-swatch-square [model]="rgbModel" [values]="rgb()" class="text-right p-2"></div>
      <div [width]="40" color-swatch-square [model]="rgbModel" [values]="newRgb()" class="text-right p-2"></div>
    </div>
    <button zz-normal-button type="submit" (click)="aceptar()">OK</button>
  </div>
</form>
