<form
  method="dialog"
  [formGroup]="rgbColor"
  (ngSubmit)="aceptar()"
  class="px-4 py-4 flex flex-row gap-4 items-center justify-center text-sm">
  <div class="space-x-1">
    <label for="Rchannel">R: </label>
    <input
      [min]="0"
      [max]="255"
      zz-input
      [zzDisabled]="rgbColor.controls.r.disabled"
      type="number"
      id="Rchannel"
      formControlName="r" />
  </div>
  <div class="space-x-1">
    <label for="Gchannel">G: </label>
    <input
      [min]="0"
      [max]="255"
      zz-input
      [zzDisabled]="rgbColor.controls.g.disabled"
      type="number"
      id="Gchannel"
      formControlName="g" />
  </div>
  <div class="space-x-1">
    <label for="Bchannel">B: </label>
    <input
      [min]="0"
      [max]="255"
      zz-input
      [zzDisabled]="rgbColor.controls.b.disabled"
      type="number"
      id="Bchannel"
      formControlName="b" />
  </div>
  <button zz-normal-button type="submit" (click)="aceptar()">OK</button>
</form>
