<form [formGroup]="config" class="min-w-fit h-fit">
  <div zz-panel class="p-4 h-fit w-full">
    <div class="opacity-80 space-y-6">
      <div>
        <zz-select [upperCase]="true" [items]="models" class="w-full" displayKey="name" formControlName="model">
        </zz-select>
      </div>
      <div class="flex flex-row items-center justify-between gap-4 text-sm">
        <div class="flex flex-row items-center gap-4 text-sm">
          <label for="alto">Height </label>
          <input type="number" id="alto" zz-input formControlName="alto" value="10" />
        </div>
        <div class="flex flex-row items-center gap-4 text-sm">
          <label for="pasos"> Steps </label>
          <input type="number" id="pasos" zz-input formControlName="pasos" value="10" />
        </div>
      </div>
      <div class="-ml-1">
        <zz-toggle-check formControlName="continuo" label="Continuo" />
      </div>
    </div>
  </div>
</form>
