@if(configGroup){
<form [formGroup]="configGroup" class="h-fit w-full text-smaller" style="line-height: 0.9rem">
  <div zz-panel class="p-4 h-fit w-full">
    <div class="opacity-80 space-y-4">
      <div class="flex flex-row items-center gap-2">
        <label class="min-w-14" [for]="colorModel.selectId">Model</label>
        <zz-select
          #colorModel
          [upperCase]="true"
          [items]="models"
          class="w-full"
          displayKey="name"
          formControlName="model">
        </zz-select>
      </div>
      <div class="flex flex-row items-center gap-2">
        <label class="min-w-14" [for]="colorVariable.selectId">Variable</label>
        <zz-select
          #colorVariable
          [items]="configGroup.controls.model.value.components"
          class="w-full"
          displayKey="name"
          formControlName="variable">
        </zz-select>
      </div>
    </div>
  </div>
</form>
}
