<div class="relative mt-2">
  <button title="Menu" class="h-8 px-1 shadow-md" (click)="toggleDropdown($event)">
    <svg viewBox="0 -960 960 960" fill="currentColor" class="w-6 h-6">
      <path
        d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" />
    </svg>
  </button>
  @if(open()){
  <div
    class="absolute z-10 right-0 px-1 space-y-2 bg-gris-50 dark:bg-gris-800 py-2 w-48 rounded-sm shadow-black/40 dark:shadow-black/70 shadow-lg"
    (click)="toggleDropdown($event)">
    <a
      routerLinkActive="opacity-70 pointer-events-none cursor-default active"
      routerLink="/palettes"
      class="block px-4 py-2 h-10 text-sm not-[.active]:hover:dark:hover:bg-gris-700 not-[.active]:hover:bg-gris-100"
      >Palettes</a
    >
    <a
      routerLinkActive="opacity-70 pointer-events-nono cursor-default active"
      routerLink="/gradients"
      class="block px-4 py-2 h-10 text-sm not-[.active]:hover:dark:hover:bg-gris-700 not-[.active]:hover:bg-gris-100"
      >Gradients</a
    >
    <a
      routerLinkActive="opacity-70 pointer-events-nono cursor-default active"
      routerLink="/gradient3"
      class="block px-4 py-2 h-10 text-sm not-[.active]:hover:dark:hover:bg-gris-700 not-[.active]:hover:bg-gris-100"
      >3 colors gradient
    </a>
    <hr class="border-[1px] dark:border-gris-500/50 border-gris-500/30 mx-2" />
    <div
      class="block px-4 py-2 h-10 text-sm not-[.active]:hover:dark:hover:bg-gris-700 not-[.active]:hover:bg-gris-100">
      <zz-dark-mode-toggle class=""></zz-dark-mode-toggle>
    </div>
  </div>
  }
</div>
