<div zz-panel class="p-6 h-fit">
  <form [formGroup]="config" class="min-w-fit h-fit space-y-8">
    @for(indice of indices; track indice){ @let component = this.model().components[indice]; @let fixedIndexes=
    indice===0 ? [1,2] : [0,indice===2?1:2];
    <div class="relative">
      <zz-slider-field
        class="text-sm relative"
        [showTrack]="false"
        [fieldName]="'v' + indice"
        [min]="component.min"
        [max]="component.max"
        [step]="componentStep(component.precision)"
        [label]="component.name"
        [defaultValue]="component.defaultValue"
        [showLabel]="true"
        [labelLength]="10"
        [unit]="component.unit"
        [showValue]="true"
        [valueLength]="9" />
      <zz-color-axis
        class="mb-2 -mt-2.5 block"
        [height]="height()"
        [pasos]="pasos()"
        [shadow]="!continuo()"
        [rounded]="continuo() ? 'none' : 'normal'"
        [variable]="indice"
        [model]="this.model()"
        [min]="this.model().components[indice].min"
        [max]="this.model().components[indice].max"
        [fixedValues]="[
          this.config.get('v' + fixedIndexes[0]).value,
          this.config.get('v' + fixedIndexes[1]).value
        ]"></zz-color-axis>
    </div>
    }
  </form>
</div>
