@if(multiValueConfig; as config) {
<zz-collapsible-panel>
  <zz-font-form-title
    header
    [title]="config.displayName"
    [modificado]="modificado()"
    [visible]="visible()"
    (visibleChange)="visible.set($event)"
    (reset)="reset()" />
  <form [formGroup]="formGroup">
    @for(part of config.multiValueParts; track part.identifier) {
    <div [zz-collapse-vertical]="!visible() && part.defaultValue === formGroup.controls[part.identifier].value">
      @switch(part.type) { @case('range') {
      <zz-slider-field
        [fieldName]="part.identifier"
        [min]="part.min"
        [max]="part.max"
        [defaultValue]="part.defaultValue"
        [step]="part.step"
        [stops]="part.stops"
        [label]="part.displayName"
        [showLabel]="true"
        [labelLength]="labelLength"
        [showValue]="true"
        [valueLength]="valueLength" />
      } @case('boolean') {
      <zz-toggle-check [formControlName]="part.identifier" [label]="part.displayName" [value]="part.defaultValue" />
      } }
    </div>
    }
  </form>
</zz-collapsible-panel>
}
