<div class="bg-application w-screen h-screen overflow-x-hidden">
  <div class="sticky bg-application z-20 top-0 left-0 right-0 shadow-md dark:shadow-black/60">
    <zz-header (toggleDrawer)="drawerOpen.set(!drawerOpen())"> <zz-palette-selector></zz-palette-selector> </zz-header>
  </div>
  <main
    class="grid grid-rows-[minmax(min-content,200px)_auto] grid-cols-[200px_auto] lg:grid-cols-[200px_auto_200px] gap-4 px-6 pt-2 m-auto max-w-[1600px] w-screen">
    <div class="col-1 lg:col-3 row-1 pt-4">
      <zz-color-sample class="block w-full h-fit" [height]="150"></zz-color-sample>
    </div>
    <div class="col-1 row-2 lg:row-1 lg:pt-4">
      <zz-color-menu></zz-color-menu>
    </div>
    <div class="min-w-36 w-full pt-3 pl-4 pr-0 lg:pr-4 relative col-2 row-span-2">
      <zz-color-range-selector> </zz-color-range-selector>
      <div class="mt-6 mb-4">
        <zz-palette-menu></zz-palette-menu>
      </div>
      <zz-color-palette class="block pb-4" [palette]="state.palette()"></zz-color-palette>
      @if(store.lockedPalette(); as paletteInfo){
      <zz-color-palette class="block pb-4" [palette]="paletteInfo.palette"></zz-color-palette>
      }
    </div>
  </main>
</div>

<zz-notification></zz-notification>
