<div class="sticky bg-application z-20 top-0 left-0 right-0 shadow-md dark:shadow-black/50">
  <zz-palettes-header></zz-palettes-header>
</div>
<main class="flex flex-row items-top justify-center gap-8 px-6 pt-2 m-auto max-w-[1600px] w-screen">
  <div class="py-4">
    <zz-color-menu></zz-color-menu>
  </div>
  <div class="min-w-36 w-full pt-3 relative flex flex-col">
    <zz-color-range-selector> </zz-color-range-selector>
    <div class="flex items-center justify-between gap-1 mt-6 mb-4">
      <zz-palette-steps-config class="opacity-80 hover:opacity-100"></zz-palette-steps-config>
      <zz-palette-visual-config class="opacity-80 hover:opacity-100"></zz-palette-visual-config>
      <zz-palette-values-config class="opacity-80 hover:opacity-100"></zz-palette-values-config>
      <zz-save-palette></zz-save-palette>
    </div>
    <zz-color-palette class="block pb-4" [palette]="state.palette()"></zz-color-palette>
    @if(store.lockedPalette(); as paletteInfo){
    <zz-color-palette class="block pb-4" [palette]="paletteInfo.palette"></zz-color-palette>
    }
  </div>
  <div class="py-4 hidden lg:block">
    <zz-color-sample class="block" [height]="200"></zz-color-sample>
  </div>
</main>
