<div class="relative">
  <button
    type="button"
    [disabled]="store.saved().length === 0"
    (click)="toggleOpen($event)"
    class="not-disabled:hover:bg-gris-100/50 not-disabled:dark:hover:bg-gris-950/50 px-4 py-1 w-24">
    <span class="flex flex-row items-center gap-2 justify-between">
      <span class="whitespace-nowrap">Saved palettes</span>
      <span class="font-icons">{{ open() ? "arrow_drop_up" : "arrow_drop_down" }}</span>
    </span>
  </button>
  @if(store.saved().length>0){
  <div
    [class.collapsable-collapsed]="!open()"
    class="collapsable absolute top-10 left-0 z-32 rounded shadow-md/50 shadow-black">
    <zz-palette-list
      (paletteSelected)="state.loadPalette($event)"
      (paletteRemoved)="store.remove($event)"
      [palettes]="store.saved()"
      class="border-panel block bg-white dark:bg-gris-800 w-56"></zz-palette-list>
  </div>
  }
  <div
    class="fixed top-0 left-0 z-30 bg-black/10 dark:bg-black/20 block opacity-100 w-screen h-screen"
    [class.hidden]="!open()"></div>
</div>
