@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_drop_down,arrow_drop_up,arrow_range,close,dark_mode,light_mode,lock,lock_open_right");

:root {
  --material-icons-font: "Material Symbols Rounded", sans-serif;
  --material-icons-variation-settings: "opsz" 48, "wght" 500, "FILL" 0, "GRAD" -25;
}

.material-symbols-rounded {
  font-family: var(--material-icons-font);
  font-variation-settings: var(--material-icons-variation-settings);
}
