@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540");

@import "tailwindcss";

@theme {
  --color-gris-50: oklch(98.9% 0.012 54);
  --color-gris-100: oklch(90.3% 0.012 54);
  --color-gris-200: oklch(81.8% 0.012 54);
  --color-gris-300: oklch(73.2% 0.012 54);
  --color-gris-400: oklch(64.6% 0.012 54);
  --color-gris-500: oklch(56% 0.012 54);
  --color-gris-600: oklch(47.5% 0.012 54);
  --color-gris-700: oklch(38.9% 0.012 54);
  --color-gris-800: oklch(30.3% 0.012 54);
  --color-gris-900: oklch(21.8% 0.012 54);
  --color-gris-950: oklch(13.2% 0.012 54);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --body-font-family: "Nunito Sans", sans-serif;
  --spacing: 0.25rem;
}

:root {
  --bg-base: #ffffff;
  --bg-application: ffffff;
  --bg-container: oklch(98.9% 0.012 54);
  --bg-hover: oklch(81.8% 0.012 54);
  --bg-button: oklch(90.3% 0.012 54);
  --bg-button-hover: oklch(81.8% 0.012 54);

  --accent-color: #ffb86a;
  --primary-color: #19c1ff;

  --text-color: #18181b;
}

:root.dark {
  --bg-base: oklch(13.2% 0.012 54);
  --bg-application: oklch(21.8% 0.012 54);
  --bg-container: oklch(30.3% 0.012 54);
  --bg-hover: oklch(38.9% 0.012 54);
  --bg-button: oklch(30.3% 0.012 54);
  --bg-button-hover: oklch(38.9% 0.012 54);

  --accent-color: #ff8a05;
  --primary-color: #50a2ff;

  --text-color: #f4f4f5;
}

body {
  font-family: var(--body-font-family);
  background-color: var(--bg-application);
  color: var(--text-color);
}
