@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --body-font-family: "Nunito Sans", sans-serif;
  --spacing: 0.25rem;
}

:root {
  --bg-base: #ffffff;
  --bg-application: #fafafa;
  --bg-container: hsl(0, 0%, 96%);
  --bg-hover: hsl(0, 0%, 93%);
  --bg-button: #e0e0e1;
  --bg-button-hover: hsl(240, 2%, 83%);

  --accent-color: #ffb86a;
  --primary-color: #19c1ff;

  --text-color: #18181b;
}

:root.dark {
  --bg-base: #0e0e10;
  --bg-application: #131314;
  --bg-container: hsl(240, 6%, 10%);
  --bg-hover: hsl(240, 6%, 14%);
  --bg-button: #2f2f33;
  --bg-button-hover: hsl(240, 4%, 25%);

  --accent-color: #ff8a05;
  --primary-color: #50a2ff;

  --text-color: #f4f4f5;
}

body {
  font-family: var(--body-font-family);
  background-color: var(--bg-application);
  color: var(--text-color);
}

* {
  --color-zinc-50: rgb(251, 251, 251);
  --color-zinc-100: rgb(245, 245, 245);
  --color-zinc-200: rgb(232, 232, 232);
  --color-zinc-300: rgb(218, 218, 218);
  --color-zinc-400: rgb(172, 172, 172);
  --color-zinc-500: rgb(132, 132, 132);
  --color-zinc-600: rgb(104, 104, 104);
  --color-zinc-700: rgb(87, 87, 87);
  --color-zinc-800: rgb(65, 65, 65);
  --color-zinc-900: rgb(50, 50, 50);
}
