@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@62.5..100,100..900&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789:.,-");
@import "tailwindcss";

@theme {
  --color-gris-50: oklch(98.9% 0.012 54);
  --color-gris-100: oklch(90.3% 0.012 54);
  --color-gris-200: oklch(81.8% 0.012 54);
  --color-gris-300: oklch(73.2% 0.012 54);
  --color-gris-400: oklch(64.6% 0.012 54);
  --color-gris-500: oklch(56% 0.012 54);
  --color-gris-600: oklch(47.5% 0.012 54);
  --color-gris-700: oklch(38.9% 0.012 54);
  --color-gris-800: oklch(30.3% 0.012 54);
  --color-gris-900: oklch(21.8% 0.012 54);
  --color-gris-950: oklch(13.2% 0.012 54);

  --color-marca-1: oklch(0.641 0.161 190.72);
  --color-marca-2: oklch(0.641 0.161 234.66);
  --color-marca-3: oklch(0.641 0.161 278.61);
  --color-marca-4: oklch(0.641 0.161 322.55);
  --color-marca-5: oklch(0.641 0.161 366.49);
  --color-marca-6: oklch(0.641 0.161 410.43);
  --color-marca-7: oklch(0.641 0.161 454.38);
  --color-marca-8: oklch(0.641 0.161 498.32);

  /* Font Marca */
  --font-museo-moderno: "MuseoModerno", sans-serif;

  --font-noto: "Noto Sans", sans-serif;
  --font-noto--font-variation-settings: "wght" 500, "wdth" 85;

  --font-icons: var(--material-icons-font);
  --font-icons--font-variation-settings: var(--material-icons-variation-settings);

  --default-font-family: var(--font-noto);

  --text-smaller: 0.9em;
  --text-smaller-1: 0.85em;
  --text-smaller-2: 0.8em;
  --text-smaller-3: 0.75em;
  --text-smaller-4: 0.7em;

  --text-larger: 1.1em;
  --text-larger-2: 1.2em;
  --text-larger-3: 1.3em;
  --text-larger-4: 1.4em;
  --text-larger-5: 1.5em;

  --color-application: var(--bg-application);
  --color-container: var(--bg-container);
  --color-button: var(--bg-button);
  --color-button-hover: var(--bg-button-hover);

  --width-marca: 1.25em;
  --leading-marca: 1.25em;
  --gap-marca: 0.125em;
}

@utility appearance-base-select {
  appearance: base-select;
}

@layer components {
  .slider-slim {
    @apply appearance-none flex h-[.75rem]  cursor-pointer flex-row items-center focus:outline-none w-full;

    &::-webkit-slider-runnable-track {
      @apply h-[0.125rem] rounded-full;
    }
    &::-webkit-slider-thumb {
      @apply bg-sky-400/90 shadow-md shadow-black  transition-all duration-150  -mt-[0.35rem] h-[0.75rem] w-[0.75rem] appearance-none  rounded-full;
    }
    @variant dark {
      &::-webkit-slider-thumb {
        @apply bg-blue-400;
      }
    }
    @variant focus {
      &::-webkit-slider-thumb {
        @apply outline-gris-500 outline-2 outline-offset-0;
      }
      @variant dark {
        &::-webkit-slider-thumb {
          @apply outline-gris-300;
        }
      }
    }
  }
}

@utility slider-slim-track {
  &::-webkit-slider-runnable-track {
    @apply bg-black/20;
  }
  @variant dark {
    &::-webkit-slider-runnable-track {
      @apply bg-white/30;
    }
  }
  @variant focus {
    &::-webkit-slider-runnable-track {
      @apply bg-black/50;
    }
    @variant dark {
      &::-webkit-slider-runnable-track {
        @apply bg-white/50;
      }
    }
  }
}

@utility slider-slim-accent {
  &::-webkit-slider-thumb {
    @apply bg-orange-300;
  }
  @variant dark {
    &::-webkit-slider-thumb {
      @apply bg-orange-400;
    }
  }
}

@layer components {
  .select-slim {
    @apply appearance-base-select w-full transition-all ring-0 outline-none border-b-1 border-b-gris-500/80;

    &::picker-icon {
      @apply font-icons  opacity-80 text-larger-5 leading-[1lh];
      content: "arrow_drop_down";
    }

    &:open::picker-icon {
      content: "arrow_drop_up";
    }

    &::picker(select) {
      @apply appearance-base-select outline-none transition-all transition-discrete duration-150;

      background-color: light-dark(white, var(--color-gris-800));
      border-color: color-mix(in srgb, light-dark(black, white), transparent 80%);
    }

    @variant focus {
      @apply border-b-sky-600;

      @variant dark {
        @apply border-b-sky-600;
      }
    }
  }
}

@layer components {
  .select-slim-option {
    @apply text-gris-800 transition-colors duration-150 px-3 py-1;

    @variant dark {
      @apply text-gris-50;
    }

    @variant focus {
      @apply outline-none bg-sky-300;

      @variant dark {
        @apply bg-sky-500;
      }
    }

    @variant checked {
      color: white;
      @apply bg-sky-500;

      @variant dark {
        @apply bg-sky-700;
      }

      @variant hover {
        @apply bg-sky-600;
      }
    }
  }

  .select-slim-option::checkmark {
    display: none;
  }
}

@layer components {
  .simple-check {
    @apply appearance-none text-inherit inline-block min-w-4 w-4 h-4 p-1    cursor-pointer    bg-white   rounded-[25%] border-[2px] border-white   outline-[1px] outline-gris-500  transition-all duration-100;

    @variant dark {
      @apply bg-gris-900 border-gris-900 outline-gris-400;
      @variant focus {
        @apply ring-gris-100;
      }
      @variant checked {
        @apply bg-sky-600;
      }
    }

    @variant focus {
      @apply ring-[2px] ring-gris-900;
    }
    @variant checked {
      @apply bg-sky-400;
    }
  }

  .icon-button {
    @apply w-8 h-8 leading-8 font-icons text-larger-5 content-center select-none transition-all overflow-hidden appearance-none mx-0.5 cursor-pointer opacity-80 hover:opacity-100 inline-block;
    @apply active:not-disabled:scale-90  disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --body-font-family: "Noto Sans", sans-serif;
  --spacing: 0.25rem;
}

:root {
  --bg-base: #ffffff;
  --bg-application: #ffffff;
  --bg-container: oklch(98.9% 0.012 54);
  --bg-hover: oklch(81.8% 0.012 54);
  --bg-button: oklch(90.3% 0.012 54);
  --bg-button-hover: oklch(81.8% 0.012 54);

  --accent-color: oklch(83.366% 0.12552 67.18);
  --primary-color: oklch(76.147% 0.15014 231.24);

  --text-color: oklch(21.033% 0.00588 285.832);
}

:root.dark {
  --bg-base: oklch(13.2% 0.012 54);
  --bg-application: oklch(21.8% 0.012 54);
  --bg-container: oklch(30.3% 0.012 54);
  --bg-hover: oklch(38.9% 0.012 54);
  --bg-button: oklch(30.3% 0.012 54);
  --bg-button-hover: oklch(38.9% 0.012 54);

  --accent-color: oklch(74.743% 0.17958 67.134);
  --primary-color: oklch(70.365% 0.15872 231.435);

  --text-color: oklch(96.744% 0.00143 285.225);
}

body {
  background-color: var(--bg-application);
  color: var(--text-color);
  font-size: 15px;
}

.bold {
  font-variation-settings: "wdth" 95, "wght" 450;
}
.semi-bold {
  font-variation-settings: "wdth" 95, "wght" 400;
}

.icon-bold {
  font-weight: 600;
}

.axis-swatch {
  @apply relative;
  @apply flex flex-row grow items-center justify-center;
  @apply overflow-hidden;
}
