@if(formDual!== undefined) {
<form [formGroup]="formDual" class="relative select-none">
  @let config=state.colorConfig(); @if(config){
  <div class="absolute left-1/2 -top-1">
    <span zz-icon class="leading-2">arrow_range</span>
  </div>
  <zz-slider-field
    class="relative z-2 font-bold"
    [showTrack]="false"
    fieldName="max"
    [min]="config.variable.range.min"
    [max]="config.variable.range.max"
    [step]="config.variable.valueStep"
    [label]="config.variable.name.caption"
    [defaultValue]="config.variable.range.max"
    [showLabel]="true"
    [labelLength]="10"
    [unit]="config.variable.unit"
    [showValue]="true"
    [valueLength]="9" />
  <div
    zz-color-axis
    class="-mt-2.5 block rounded-md overflow-hidden"
    [color-config]="config"
    [current-color]="currentColor()"
    [height]="height()"></div>
  <zz-slider-field
    class="relative z-2 -mt-2.5 block"
    fieldName="min"
    [showTrack]="false"
    [labels-above]="false"
    [labels-reverse]="true"
    [min]="config.variable.range.min"
    [max]="config.variable.range.max"
    [step]="config.variable.valueStep"
    [label]="config.variable.name.caption"
    [defaultValue]="config.variable.range.min"
    [showLabel]="false"
    [labelLength]="10"
    [unit]="config.variable.unit"
    [showValue]="true"
    [valueLength]="9" />
  }
</form>
}
