@if(configGroup){
<form [formGroup]="configGroup">
  <div class="flex flex-row items-center gap-4" style="line-height: 0.9rem">
    <div class="flex flex-row items-center">
      <label for="height" class="select-none">Height:</label>
      <input
        type="number"
        id="height"
        zz-input
        [zzDisabled]="configGroup.controls.height.disabled"
        formControlName="height"
        value="10"
        [min]="1"
        [max]="180" />
    </div>
    <label class="flex flex-row items-center gap-2 select-none cursor-pointer">
      <input type="checkbox" zz-simple-check formControlName="flat" />
      <span>Flat</span>
    </label>
    <label class="flex flex-row items-center gap-2 select-none cursor-pointer">
      <input type="checkbox" zz-simple-check formControlName="separate" />
      <span>Separate</span>
    </label>
  </div>
</form>
}
