<div class="@container flex">
  <div
    class="flex items-center justify-start w-full gap-6 @max-[760px]:items-start @max-[760px]:flex-col @max-[760px]:gap-2">
    <zz-palette-steps-config class="opacity-80 hover:opacity-100"></zz-palette-steps-config>
    <zz-palette-visual-config class="opacity-80 hover:opacity-100"></zz-palette-visual-config>
  </div>
  <div
    class="flex items-center justify-end w-full -mb-0.5 gap-6 @max-[760px]:items-end @max-[760px]:flex-col @max-[760px]:gap-2">
    <zz-palette-values-config class="opacity-80 hover:opacity-100"></zz-palette-values-config>
    <zz-palette-actions></zz-palette-actions>
  </div>
</div>
