<div class="grid grid-cols-[280px_minmax(500px,_1fr)] items-top gap-6 p-6">
  <div>
    @if(colorConfig()){
    <zz-color-sample
      [height]="200"
      [model]="colorConfig().model"
      [color-base]="currentColor()"
      (newColor)="onNewColor($event)"></zz-color-sample>
    }
    <div class="w-full mt-4">
      <zz-color-config (colorConfigChange)="colorConfigChanged($event)"></zz-color-config>
    </div>
    <div class="w-full mt-4">
      <zz-color-axis-config (axisConfigChange)="configChanged($event)"></zz-color-axis-config>
    </div>
  </div>
  <div class="relative">
    <zz-color-range-selector
      [color-config]="colorConfig()"
      [axis-config]="{ alto: 40, continuo: true, pasos: 60, automatico: true, showRGB: false }"
      [color-base]="colorBase()"
      (colorChange)="colorChange($event)"
      (rangeChange)="rangeChange($event)">
    </zz-color-range-selector>
    <zz-color-axis
      class="mt-10 block p-6"
      [showClamp]="true"
      [color-config]="colorConfig()"
      [axis-config]="axisConfig()"
      [color-base]="currentColor()"
      [min]="minmax()[0]"
      [max]="minmax()[1]"></zz-color-axis>
  </div>
</div>
