<div class="md:grid md:grid-cols-[minmax(500px,_1fr)_280px] p-6 items-top md:gap-6 flex flex-col-reverse">
  <div class="relative flex flex-col">
    @if(colorConfig()){
    <zz-color-range-selector
      [color-config]="colorConfig()"
      [axis-config]="{ alto: 53, continuo: true, pasos: 60, automatico: true, showValues: 'no' }"
      [color-base]="colorBase()"
      (colorChange)="colorChange($event)"
      (rangeChange)="rangeChange($event)">
    </zz-color-range-selector>
    <zz-color-axis
      class="block p-6 mt-6"
      [color-config]="colorConfig()"
      [axis-config]="axisConfig()"
      [color-base]="currentColor()"
      [showClamp]="true"
      [min]="minmax()[0]"
      [max]="minmax()[1]"></zz-color-axis>
    }
  </div>
  <div class="flex flex-col-reverse gap-4 md:flex-col">
    @if(colorConfig()){
    <zz-color-sample
      [height]="200"
      [color-model]="colorConfig().model"
      [color-base]="currentColor()"
      (newColor)="onNewColor($event)"></zz-color-sample>
    }
    <div class="w-full">
      <zz-color-config (colorConfigChange)="colorConfigChanged($event)"></zz-color-config>
    </div>
    <div class="w-full md:block hidden">
      <zz-color-axis-config (axisConfigChange)="configChanged($event)"></zz-color-axis-config>
    </div>
  </div>
</div>
